<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hashtag.mapper.MyMapper">
	<select id="selectBoardListAndTags" resultType="map">
		SELECT t.boardNo, t.title, ifnull(GROUP_CONCAT(tag),'') tag
		from
		(SELECT b.board_no boardNo, b.title title, h.tag tag
		FROM board b left JOIN hashtag h ON h.board_no = b.board_no)t
		GROUP BY t.title, t.boardNo
		ORDER BY t.boardNo DESC
	</select>
	
	<select id="selectTagsByBoard" resultType="string">
		select tag from hashtag where board_no = #{boardNo}
	</select>
	
	<insert id="insertHashtag" parameterType="com.example.hashtag.dto.Hashtag">
		insert into hashtag(board_no, tag) values(#{boardNo},#{tag})
	</insert>
</mapper>