<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.supa.mapper.BoardMapper">
	<select id="selectBoard" resultType="com.example.supa.dto.Board">
		select id,title, create_at createAt from board
	</select>
	
	<select id="selectBoardById" resultType="com.example.supa.dto.Board">
		select id,title, create_at createAt from board where id=#{id}
	</select>
	
	<insert id="insertBoard" parameterType="com.example.supa.dto.Board">
		insert into board(title) values(#{title})
	</insert>
	
	<update id="editBoard" parameterType="com.example.supa.dto.Board">
		update board set title=#{title} where id=#{id}
	</update>
	
	<delete id="deleteBoard">
		delete from board where id=#{id}
	</delete>
</mapper>